<!-- START THE FEATURETTES -->
<div class="container">

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Magens Bay - <span class="text-muted">Lay out and relax</span></h2>
      <p class="lead">Located on the North side of the island, Magens Bay features a well-protected white sand beach stretching for nearly three quarters of a mile. It is one of the most popular tourist destinations on the island, as well as a gathering place for locals.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag "magens_bay.jpg", class: "featurette-image img-responsive center-block" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">St. John - <span class="text-muted">Get away from it all</span></h2>
      <p class="lead">St. John is the smallest of the USVI. With 60% of its land area comprising a pristine national park, St. John is as far away as you can get from civilization, but still be just a short distance from upscale jewelry stores and boutiques.</p>
      <p class="lead"><%= link_to 'Ferry Schedule', 'http://www.vinow.com/travel/virgin-islands-ferry-schedules/' %></p>
    </div>
    <div class="col-md-5">
      <%= image_tag "st_john.jpg", class: "featurette-image img-responsive center-block" %>
    </div>
  </div>

  <hr class="featurette-divider">
  
  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">St. Thomas Ferry - <span class="text-muted">Head into town</span></h2>
      <p class="lead">Ferry into town directly from the Marriott's dock. Charlotte Amalie has beautiful and historic architecture, a bustling shopping square, and a vibrant nightlife.</p>
      <p class="lead"><%= link_to 'Nightlife', 'http://www.vinow.com/stthomas/nightlife/' %></p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag "stthomas-virginislands.jpg", class: "featurette-image img-responsive center-block" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Other Activities</h2>
      <p class="lead">You do not need a passport to visit St. Thomas. However, you will need one if you plan to visit the islands outside of the US Virgin Islands (British Virgin Islands).</p>
      <p class="lead">For group or individual tours, special events, and excursions checkout <%= link_to 'Adventure Center', 'http://www.adventurecenters.net/' %>.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "snorkling.jpg", class: "featurette-image img-responsive center-block" %>
    </div>
  </div>

  <hr class="featurette-divider">

</div>
<!-- /END THE FEATURETTES -->
