<!DOCTYPE html>
<html>
<head>
  <title>Wedding</title>
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] || flash[:warning] %>
  <div class="notice-container container">
    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <span class="sr-only">Success:</span>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:warning] %>
      <% flash[:warning].each do |warning| %>
        <div class="alert alert-warning" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Warning:</span>
          <%= warning %>
        </div>
      <% end %>
    <% end %>
  </div>
  <% end %>
  <div class="navbar-wrapper">
    <div class="container">

      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header pull-left">
            <h1 style="margin-top: 4px; margin-bottom: 2px;">Liz and Eric's Wedding</h1>
          </div>
          <div id="navbar" class="pull-right">
            <ul class="nav navbar-nav">
              <% active = active_nav(controller_name, action_name) %>
              <%= "<li class=#{active == 'home' ? 'ctive' : ''}>".html_safe %><%= link_to 'Home', root_path %></li>
              <%= "<li class=#{active == 'itinerary' ? 'ctive' : ''}>".html_safe %><%= link_to 'Itinerary', '/itinerary' %></li>
              <%= "<li class=#{active == 'activities' ? 'ctive' : ''}>".html_safe %><%= link_to 'Activities', '/activities'%></li>
              <%= "<li class=#{active == 'registry' ? 'ctive' : ''}>".html_safe %><%= link_to 'Registry', '/registry'%></li>
              <%= "<li class=#{active == 'contact' ? 'ctive' : ''}>".html_safe %><%= link_to 'Contact Us', '/contact' %></li>
              <%= "<li class=#{active == 'rsvp' ? 'ctive' : ''}>".html_safe %><%= link_to 'RSVP', '/reservations/new' %></li>
              <!-- <li><a href="#upload">Upload Photos</a></li> -->
            </ul>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <%= yield %>

</body>
</html>
